@import "tailwindcss";

body {
  @apply bg-[#0f0b0b] text-white;
  font-family: "Poppins", sans-serif;
}
.heading {
  font-family: Maven Pro;
}
.model-heading {
  font-family: Orbitron;
  font-weight: 900;
}
